,*
Answer-02.*
Answer-02.html
Answer-02.html.pdf
Answer-02.md
a.out
ans-hw2-online.mas
ans-hw2-online.mas.txt
ans-hw2.hex
ans-hw2.mas
ans-hw2.mas.txt
ans-online-1.png
ans-output.txt
ans-run1.sh
ans1.go
ans2.go
hw2.7.c
hw2.7.cpp
hw2.7.go
run1.sh
