Marie
midterm-1.html
midterm-1.v1.html
*.1
.DS_Store
,*
Video/
email.txt
cal.txt
gen-cal
Microcode-Slides-NCAT-Comp375.pdf
micmachandout.pdf
Dylan-Luke-Miller
Dillon.P.McCardell.pt1.mas
2020-01-24T0732_Grades-202020_COSC-2150-01.csv
545716da-b3aa-4aae-840e-3a5b9646c6dc.pdf
Spencer-Romberg
Hw1
Parker-Spires
email2.txt
2020-01-24T0732_Grades-202020_COSC-2150-01.csv
2020-02-13T0640_Grades-202020_COSC-2150-01.csv
ans-midterm-1.md
midterm-1.md
